{% load static %}
<html>

<head>
   <title>Django blog</title>
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
   <link href="{% static 'css/base.css' %}" rel="stylesheet">
   <link href="{% static 'css/criar_tarefa.css' %}" rel="stylesheet">
   <link href="{% static 'css/criar_projeto.css' %}" rel="stylesheet">
   <link href="{% static 'css/login.css' %}" rel="stylesheet">
   <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>

<body>
   <div>
      <header>
         <div class="nav">
            <div class="nav-left">
               <h1><a href="{% url 'home' %}">Task Manager</a></h1>
            </div>
            <div class="nav-right">
               {% if user.is_authenticated %}
               <p class="user_logged">{{ user.username }}!</p>
               <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
               </form>
               {% else %}
               <a class="loggin_button" href="{% url 'login' %}">Login</a>
               {% endif %}
            </div>
         </div>
      </header>
      {% block content %}
      {% if user.is_authenticated %}
      <div class="content">
         <div class="actions">
            <h1 class="title">Projetos</h1>
            <button class="criar_button">
               <a href="{% url 'criar_projeto' %}">Criar Novo Projeto</a>
            </button>
         </div>
         <ul>
            {% for projeto in projetos %}
            <li class="item">
               <p>{{ projeto.nome }} - {{ projeto.descricao }}</p>
               <p>-</p>
               <a href="{% url 'criar_tarefa' %}">Lista Tarefas</a>               
            </li>

            <ul>
               {% for tarefa in tarefas%}
               {% if tarefa.projeto == projeto %}
               <ul>
                  <li>{{tarefa.nome}}</li>
                  <li>{{tarefa.descricao}}</li>
                  <li>{{tarefa.responsavel}}</li>
                  <li>{{tarefa.prazo}}</li>
               </ul>
               {% if tarefa.projeto == projeto %}
               {% endif %}
               {% endif %}
               {% endfor %}
            </ul>
            {% empty %}
            <li>Não há projetos disponíveis.</li>
            {% endfor %}
         </ul>
      </div>
      {% endif %}
      {% endblock content %}
   </div>
</body>

</html>