{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/projetos.css' %}">
<div class="criar_projeto">
    <h1 class="title">Criar Novo Projeto</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="fields">
            <div class="field">
                <p>Nome: </p>
                {{ form.nome }}
            </div>
            <div class="field">
                <p>Descrição: </p>
                {{ form.descricao }}
            </div>
        </div>
        <div class="project_save">
            <button type="submit">Salvar Projeto</button>
        </div>
    </form>
</div>

{% endblock content %}