div.signup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 20px;
    align-items: center;

    h1 {
        margin: 0;
        color: #2c2e32;
      }
    
    h1.title {
      text-align: center;
    }

    .form{
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        align-items: center;
        gap: 15px;
    
        select {
          height: 20px;
        }
      }

    .fields {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        margin-top: 20px;
        p {
            margin: 0;
        }
    }
    
    .field {
        display: flex;
        align-items: center;
        gap: 15px;
        
        p {
            margin: 0;
        }

        select {
          height: 20px;
        }
      }
    
    button {
        background-color: #5865f2;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 18px;
        color: #f1f1f1;
        font-weight: 600;
        padding: 4px 8px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-top: 10px;
        
        a {
            color: #f1f1f1;
            text-decoration: none;
          }
      }

    .project_save{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    select, input, textarea {
        border-radius: 4px;
    }

    textarea {
        height: 20px;
        max-width: 300px;
        max-height: 150px;
        min-width: 150px;
        min-height: 20px;
    }

}
